* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

body {
    background: rgb(33, 33, 33);
    background: linear-gradient(90deg, rgba(33, 33, 33, 1) 0%, rgba(14, 14, 14, 1) 9%, rgba(6, 6, 8, 1) 43%, rgba(0, 0, 0, 1) 52%, rgba(0, 0, 0, 1) 62%, rgba(0, 0, 0, 1) 66%, rgba(14, 14, 14, 1) 91%, rgba(33, 33, 33, 1) 100%);
    overflow-x: hidden;
}


.event {
    display: flex;
    width: 100%;
}
.evento-image {
    width: 40vw;
    margin: 80px;
    position: relative;
    cursor: pointer;
}

.evento-image img {
    width: 100%;
    box-shadow: 7px 8px 10px rgba(3, 1, 1, 0.904);
}


.evento-info {
    margin-top: 65px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fecha {
    font-size: 4vw;
    margin: 0;
}

.fecha sub {
    font-size: 2vw;
    position: relative;
    bottom: 3vw;
    color: blueviolet;
}

.titulo-evento {
    display: flex;
    font-size: .8em;
}

.titulo-evento .precio {
    color: #009bab;
}

.fecha-hora {
    margin-top: 30px;
    font-size: 1.1em;
}
.fecha-hora p{
    margin: 0;
    margin-bottom: 20px;
}
.precios{
    margin-top: 20px;
    font-size: 1.1em;
}
button {
    margin-top: 30px;
    border: none;
    padding-block: 20px;
    padding-inline: 30px;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: 750;
    background-color: blueviolet;
    border-radius: 3px;
    transition: .3s;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #00ff93;
}

button a:hover {
    color: black;
}
@media screen and (max-width: 800px) {
    .event{
        height: auto;
    }
    .titulo-evento{
        display: block;
        position: relative;
        bottom: 3vw;
    }
    .evento-image{
        width: 35vw;
        margin: 0;
        margin-left: 20px;
    }
    .evento-image img{
        margin-top: 90px;
        max-width: 250px;
    }
    .evento-info{
        margin-top: 80px;
        margin-inline: 30px;
    }

    .fecha-hora{
        position: relative;
        bottom:5vw;
    }
    .fecha-hora .hora{
        position: relative;
        bottom: 2vw;
    }
    .precios{
        position: relative;
        bottom:6vw;
    }
    button{
        position: relative;
        left: 25vw;
        bottom: 14vw;
        padding-block: 2vw;
        padding-inline: 3vw;
        font-size: 1em;
        margin: 0;
    }
}
@media screen and (max-width: 600px) {
    .event{
        display: block;
        background-color: rgb(56, 56, 56);
        border: solid;
        width: 100%;
        height: auto;
    }
    .evento-info{
        position: relative;
        bottom: 10vw;
        height: 60vh;
    }
    .event .evento-image{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .evento-image img{
        margin-top: 20px;
        max-width:60%;
    }
    .fecha{
        font-size: 3em;
    }
    .titulo-evento{
        bottom: 6vw;
        font-size: 1.1em;
    }
    .fecha sub{
        font-size: .6em;
        position: relative;
        bottom: 7vw;
    }
    .fecha-hora{
        bottom: 8vw;
    }
    .precios{
        bottom: 7vw;
    }
    button{
        bottom: 14vw;
        left: 50vw;
    }
}
@media screen and (max-width: 500px) {
    .evento-info{
        height: auto;
    }
    .fecha{
        font-size: 9.6vw;
    }
    .titulo-evento{
        font-size: 3.3vw;
    }
    .fecha sub{
        font-size: .6em;
        position: relative;
        bottom: 7vw;
    }
    button{
        left: 45vw;
    }
}
@media screen and (max-width: 400px) {
    .evento-info{
        height: 70vh;
    }
    button{
        left: 0;
        bottom: 0;
    }
}