.encabezado{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 33vw;
    padding: 4vw;
    font-size: 2vw;
    font-weight: 700;
}
.encabezado .logo img{
    width: 25vw;
    position: relative;
    bottom: 3vw;
}
.encabezado .logo:hover{
    border: none;
}
.encabezado a{
    text-decoration: none;
    color: white;
    transition: ease .09s;
    z-index: 7;
}
.encabezado div{
    display: flex;
    gap: 30px;
}
.encabezado .menu-list{
    display: flex;
    list-style-type: none;
    gap: 50px;
    z-index: 7;
    position: relative;
    bottom: 1vw;
}
.encabezado a:hover{
    border-bottom: solid white 3px;
}
.encabezado svg{
    z-index: 7;
    color: whitesmoke;
    display: none;
}
.encabezado .logo-celular{
    display: none;
}
.fondo-banner-celular{
    display: none;
}
.encabezado .menu-toggle{
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .encabezado .menu-list{
        text-align: center;
        display: none;
        flex-direction: column;
        position: absolute;
        border-top: solid 2px rgba(0, 0, 0, 0.349);
        top: 105px;
        padding: 30px;
        right: 0;
        background-color: rgb(255, 255, 255);
        width: 100%;
        box-sizing: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 9;
        gap: 90px;
    }
    .encabezado .menu-list .redes{
        display: flex;
        justify-content: center;
    }
    .encabezado .menu-list li a{
        color: black;
        font-size: 2.1rem;
    }
    .encabezado .menu-list.visible{
        display: flex;
        opacity: 1;
        transition: opacity 0.4s ease, visibility 0.5s ease;
        visibility: visible;
    }
    .encabezado .menu-toggle svg{
        display: block;
        color: black;
    }
    .encabezado{
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: auto;
        background-color: white;
    }
    .encabezado .logo{
        display: none;
    }
    .encabezado .logo-celular{
        display: block;
    }
    .encabezado .logo-celular img{
        width: 300px;
    }

}
@media screen and (max-width: 500px){
    .fondo-banner-celular{
        display: block;
        width: 100%;
        height: 35vw;
        background-color: black;
    }
    .encabezado .logo-celular img{
        width: 280px;
    }
    .encabezado .menu-list{
        top: 100px;
    }
}
