body,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 60vh;
}
.banner img{
    width: 90%;
    height: auto;
    z-index: 1;
}
@media screen and (max-width: 1000px) {
    .banner{
        bottom: 0;
    }
    .banner img{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .banner{
        bottom: 0;
    }
    .banner img{
        width: 80%;
        position: relative;
        bottom: 20vw;
    }

}
