body,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
main{
    height: auto;
}
a{
    text-decoration: none;
    color: white;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 28vw;
    margin-bottom: -35vw;
    
}
.banner img{
    width: 90%;
    height: auto;
    z-index: 1;
}

.cuadros-colores{
    display: none;
}
@media screen and (max-width: 1000px) {
    .banner{
        bottom: 0;
        margin-bottom: 0;
    }
    .banner img{
        width: 100%;
        bottom: 0;
    }
}
@media screen and (max-width: 500px) {
    .banner{
        bottom: 0;
    }
    .banner img{
        width: 85%;
        position: relative;
        bottom: 20vw;
    }

    .cuadros-colores{
        display: block;
        position: absolute;
    }
    .verde{
        width: 17vw;
        height: 20vw;
        background-color: #00ff93;
        position: relative;
        bottom: 38.7vw;
        left: 6.5vw;
    }
    .rojo{
        width: 17vw;
        height: 20vw;
        background-color: rgb(241, 61, 61);
        position: relative;
        bottom: 59vw;
        left: 76vw;
    }
}

.eventos{
    position: relative;
    top: 0;
    z-index: 8;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5vw;
}
.eventos .event-slider .slider div img{
    width: 25vw;
    text-align: center;
  }

.slick-slide {
      margin-inline: 0px;
}
.slick-slide {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
}
.slick-initialized .slick-slide {
      display: block;
}

@media screen and (max-width: 1000px) {
    .eventos{
        margin-top: 10vw;
    }
}
@media screen and (max-width: 768px) {
    .eventos .event-slider .slider div img{
        width: 40vw;
    }
}
@media screen and (max-width: 500px) {
    .eventos{
        top: -10vw;
    }
    .eventos .event-slider .slider div img{
        width: 80vw;
    }
}


.galeria-colecciones{
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.galeria-colecciones img{
    padding-top: 5vw;
    width: 500px;
}
.galeria-colecciones .fotos img{
    transition: .4s;
}
.galeria-colecciones .fotos img:hover{
    transform: scale(1.07);
}
.galeria-colecciones .fotos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 2vw;
}
.galeria-colecciones .fotos img{
    width: 20vw;
    border-radius: 5px;
}
.galeria-colecciones button{
    margin-block: 90px;
    border: none;
    width: 30vw;
    height: 5vw;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: 750;
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    transition: .3s;
}
.galeria-colecciones button:hover{
    background-color: #00ff93;
    color: black;
}
@media screen and (max-width: 1000px) {
    .galeria-colecciones .fotos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .galeria-colecciones .fotos img{
        width: 40vw;
    }
}
@media screen and (max-width: 700px) {
    .galeria-colecciones button{
        width: 40vw;
        height: 50px;
    }
}
@media screen and (max-width: 600px) {
    .galeria-colecciones{
        margin-top: 80px;
    }
    .galeria-colecciones h2{
        font-size: clamp(2rem, 4vw, 2rem);
    }
}
@media screen and (max-width: 500px) {
    .galeria-colecciones .fotos{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .galeria-colecciones img{
        width: 80vw;
    }
    .galeria-colecciones .fotos img{
        width: 80vw;
    }
}
@media screen and (max-width: 400px) {
    .galeria-colecciones h2{
        font-size: clamp(1.8rem, 4vw, 1.4rem);
    }
}



.banner-collage{
    width: 100%;
    min-height: 30vw;
    margin-block: 15vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-collage img{
    width: 60vw;
}
@media screen and (max-width: 700px) {
    .banner-collage{
        width: 100%;
        height: 55vw;
    }
    .banner-collage img{
        width: 75vw;
    }
}
@media screen and (max-width: 450px){

}

.video{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.video iframe{
    margin-block: 10vw;
    width: 65vw;
    height: 37vw;
    border: solid blueviolet 20px;
}
@media screen and (max-width: 700px) {
    .video iframe{
        width: 100%;
        height: 60vw;
        margin-block: 0;
    }
}
@media screen and (max-width: 450px) {
    .video{
        background-position: left;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video iframe{
        border: none;
    }
}


.store{
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, rgb(17, 17, 17), rgb(17, 17, 17), rgb(17, 17, 17), black, black, black);
    margin-top: 15vw;
}
.store img{
    width: 500px;
    padding-block: 5vw;
    
}
.store .store-title{
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 4vw;
    position: relative;
    bottom: 5vw;
}
.store .elements{
    text-align: center;
}

.store .elements div img{
    width: 25vw;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 2vw;
}
.store .elements{
    color: white;
    font-weight: 750;
}
.store .elements div{
    font-size: 2vw;
}
.store .elements div button{
    width: 20vw;
    height: 4vw;
    border: none;
    margin: 0;
    margin-top: 2vw;
    background-color: #8a2be2;
    color: white;
    font-size: 2vw;
    font-weight: 650;
    transition: .4s;
    letter-spacing: 1.2px;
}
.store .elements div button:hover{
    background-color: #00ff93;
    color: black;
}

@media screen and (max-width: 767px) {
    .store .elements div{
        margin-bottom: 8vw;
    }
    .store .elements div img{
        width: 50vw;
    }
    .store .elements div p{
        font-size: 20px;
    }
    .store .elements div button{
        width: 40vw;
        height: 7vw;
        font-size: 3vw;
    }
}
@media screen and (max-width: 500px){
    .store img{
        width: 90%;
    }
}
@media screen and (max-width: 450px) {

    .store .elements div{
        margin-bottom: 8vw;
    }
    .store .elements div img{
        width: 65vw;
    }
    .store .elements div p{
        font-size: 20px;
    }
    .store .elements div button{
        width: 50vw;
        height: 10vw;
        font-size: 4vw;
    }
}


.store button{
    margin-block: 10vw;
    border: none;
    width: 30vw;
    height: 5vw;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: 750;
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    transition: .4s;
}
.store button:hover{
    background-color: #00ff93;
    color: black;
}
@media screen and (max-width: 700px) {
    .store button{
        width: 40vw;
        height: 50px;
    }
}



.marcas{
    max-width: 100%;
    height: 20vw;
    padding-block: 4vw;
    margin-block: 5vw;
}
.logo-slider img{
    width: 60%;
}
.logo-slider .item a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-slider .slick-slide{
    margin: 15px;
}
.marcas .slick-dots li.slick-active button:before{
    color: #000000;
}
.marcas .slick-dots li button:before{
    font-size: 12px;
}
.marcas .slick-next:before,
.marcas .slick-prev:before{
    color: #0594FC !important;
    font-size: 24px;
}
.item:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}
@media screen and (max-width: 1110px) {
    .marcas .slick-next:before,
    .marcas .slick-prev:before{
    display: none;
}
}
@media screen  and (max-width: 800px){
    .marcas{
        max-width: 200vw;
        overflow: hidden;
    }
}
@media screen and (max-width: 500px) {
    .logo-slider img{
        width: 15vw;
    }
    .marcas{
        height: 25vw;
        margin-block: 10vw;
    }
}