
header .menu-container{
    padding: 0;
}
div.logo{
    background-color: #0a2240;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 0;
}
.logo img{
    width: 70%;
}
.menu-container{
    display: flex;
}
.menu{
    display: flex;
    list-style: none;
    justify-content: start;
    align-items: center;
    margin: 0;
    gap: 36px;
    font-weight: bold;
    font-size: 1.5vw;
}
.contacto_menu span{
    text-align: right;
    width: 20%;

}
.contacto_menu span img{
    width: 70%;

}
.contacto_menu{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    padding: 0;
}
.contacto_menu a{
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 5px;
}
.contacto_menu p{
    margin: 0;
}
nav a{
    text-decoration: none;
    color: black;
    transition: .3s;
}
nav a:hover{
    color: #0D6EFD;
}
.nav_menu_celular{
    display: none;
}
#open-icon{
    visibility: hidden;
}
#close-icon{
    display: none;
}
@media screen and (max-width: 767px) {
    .nav_menu .logo{
        display: none;
    }
    #open-icon{
        visibility: visible;
        border: none;
        background-color: transparent;
        padding-top: 15px;
        cursor: pointer;
    }
    #close-icon{
        border: none;
        background-color: transparent;
        padding-top: 15px;
        cursor: pointer;
    }
    .contacto_menu{
        display: none;
    }
    .menu-container .menu{
        visibility: hidden;
        opacity: 0;
        overflow-y: auto;
        z-index: 1000;
    }
    .menu-container .menu{
        flex-direction: column;
        position: fixed;
        background-color: white;
        margin: 0;
        padding: 100px 100px 100px 100px;
        font-size: 1.4rem;
        height: 100%;
        overflow-y: auto;
        box-shadow: 0 0 10px rgb(117, 116, 116);
    }
    .menu-container .menu.visible{
        opacity: 1;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        visibility: visible;
    }
    .nav_menu_celular{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0a2240;
    }
    .nav_menu_celular .logo-celular{
        width: 85%;
    }
    .nav_menu_celular .logo-celular img{
        width: 170px;
    }
    .nav_menu_celular .menu-hamburguesa i{
        font-size: clamp(2rem, 3vw, 5rem);
        color: white;
    }
}