#reproductor {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #0a2240; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    flex-wrap: wrap; 
}

#reproductor .container {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.player_album {
    order: 2; 
}

.player_album img {
    width: 60px;
    height: auto;
    margin-right: 20px;
}

.player__audio {
    visibility: hidden;
}

.player__btn {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0D6EFD;
    background-color: white;
    width: 60px;
    height: 60px;
    font-size: 15px;
    position: relative;
    order: 1; 
}

.hide {
    display: none;
}
audio{
    display: none;
}
