@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,756;1,756&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vw;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-telefono {
    display: none;
}

@media screen and (max-width: 767px) {
    .banner {
        display: none;
    }

    .banner-telefono {
        display: block;
        width: 100%;
        height: 90vw;
        background-size: cover;
        background-repeat: no-repeat;
    }
}



.noticias {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding-inline: 3%;
    margin: 0;
}

.cards-slider .cards .informacion {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease .3s;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.356) 0px 18px 36px -18px inset;
}

.cards-slider .cards .informacion:hover {
    transform: scale(1.03);
}

.cards {
    width: 30vw;
    height: 250px;
    border-radius: 8px;
    background: rgb(34, 33, 33);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cards .informacion h2 {
    color: white;
    padding: 20px 0 0 20px;
    text-shadow: 2px 2px 20px #000000;
}

.cards-slider {
    width: 90%;
}

.cards-slider .slick-slide {
    margin: 15px;
}

.slick-dots li button:before {
    display: none;
}

ul.slick-dots {
    display: none;
}

.slick-next:before,
.slick-prev:before {
    color: #0a2240;
    font-size: 2vw;
}


@media screen and (max-width: 1110px) {

    .slick-next:before,
    .slick-prev:before {
        display: none;
    }
}

@media screen and (max-width:900px) {
    .slick-dots li button:before {
        display: block;
        color: #0a2240;
        font-size: 1.8vw;
    }

    ul.slick-dots {
        display: block;
    }

}

@media screen and (max-width: 680px) {
    .cards-slider {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .noticias {
        height: 65vw;
    }
}

@media screen and (max-width: 800px) {
    .cards {
        height: 270px;
    }
}

@media screen and (max-width: 490px) {
    .cards-slider {
        position: relative;
        top: 50px;
    }

    .cards-slider .cards {
        width: 10vw;
        height: 200px;
    }
}

.radiou {
    margin-top: 100px;
}

.radiou .imagenes .img-fondo {
    width: 65%;
    height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
    border-right: solid 15px #0D6EFD;
}

.radiou .imagenes img {
    width: 60%;
    position: relative;
    bottom: 15vw;
    margin-left: 200px;
    border-radius: 5px;
    border: solid white 15px;
}

.radiou .info {
    padding-right: 30px;
}

.radiou .info h1 {
    color: #0a2240;
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 30px;
}

.radiou .info p {
    font-size: 1.3vw;
    margin-bottom: 80px;
}

.sobre-radiou {
    display: flex;

}

.sobre-radiou .icon-radiou,
.sobre-radiou .radiou-text {
    list-style-type: none;
}

.sobre-radiou .icon-radiou {
    color: #0D6EFD;
    font-size: 4vw;
    margin-right: 15px;
}

.sobre-radiou .icon-radiou li {
    margin-bottom: 80px;
}

.sobre-radiou .radiou-text h3 {
    font-weight: 700;
    color: #0a2240;
}

.sobre-radiou .radiou-text p {
    margin: 0;
}

.sobre-radiou .radiou-text li {
    margin-bottom: 60px;
}

.nosotros {
    border: none;
    background-color: #0D6EFD;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px;
    border-radius: 50px;
    width: 30%;
    margin-left: 50px;
    transition: .5s;
}

.nosotros:hover {
    background-color: #0a2240;
}

.radiou-celular .info-celular {
    display: none;
}

@media screen and (max-width: 900px) {
    .radiou {
        display: none;
    }

    .radiou-celular {
        margin-top: 90px;
     
    }

    .radiou-celular .info-celular {
        display: block;
        margin-inline: 10px;
    }

    .radiou-celular .info-celular h1 {
        font-weight: 700;
    }

    .sobre-radiou {
        margin-top: 80px;
    }

    .radiou-celular .info-celular .sobre-radiou .icon-radiou {
        font-size: 5.5vw;
    }
    .boton-nosotros{
        text-align: center;
    }
    .nosotros-celular {
        border: none;
        background-color: #0D6EFD;
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 20px;
        border-radius: 50px;
        width: 30%;
        margin-left: 0;
        transition: .5s;
        position: relative;
    }
    
    .nosotros-celular:hover {
        background-color: #0a2240;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .radiou-celular .icon-radiou {
        margin-top: 20px;
    }

    .radiou-celular .info-celular .sobre-radiou .icon-radiou {
        font-size: 2.9rem;
        margin-top: 10px;
    }
    .nosotros-celular{
        width: 50%;

    }
}

@media screen and (max-width: 416px) {
    .radiou-celular {
        margin-top: 130px;
    }

    .radiou-celular .info-celular {
        font-size: 3vw;
    }
    .radiou-celular .info-celular h1{
        font-size: 6vw;
    }

    .radiou-celular .info-celular .sobre-radiou .icon-radiou {
        margin-top: 20px;
    }
    .nosotros-celular{
        font-size: 4vw;
    }
}


.carousel-radiou {
    width: 100%;
    height: 35vw;
    overflow: hidden;
    position: relative;
}

.slider-infinite {
    background-color: #0D6EFD;
    display: flex;
    justify-content: center;
    align-items: center;     
    white-space: nowrap;    
    width: 100%;       
    color: white;
    margin: 0;
    font-family: "Rubik", sans-serif;
    text-align: center;
}
.slider-infinite p{
    margin: 0;
    font-size: 2.8vw;
}

.slider-infinite .slider {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.slider-infinite .slick-slide {
    margin: 15px;
}

.slick-dots li button:before {
    display: none;
}

ul.slick-dots {
    display: none;
}

.slick-next:before,
.slick-prev:before {
    color: #0a2240;
    font-size: 2vw;
}


@media screen and (max-width: 1110px) {

    .slick-next:before,
    .slick-prev:before {
        display: none;
    }
}

@media screen and (max-width:900px) {
    .slick-dots li button:before {
        display: block;
        color: #0a2240;
        font-size: 1.8vw;
    }

    ul.slick-dots {
        display: block;
    }

}

@media screen and (max-width: 680px) {
    .cards-slider {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .noticias {
        height: 65vw;
    }
}

@media screen and (max-width: 800px) {
    .cards {
        height: 270px;
    }
}

@media screen and (max-width: 490px) {
    .cards-slider {
        position: relative;
        top: 50px;
    }

    .cards-slider .cards {
        width: 10vw;
        height: 200px;
    }
}